@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Quicksand:wght@300;500;700&display=swap");
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
